#main-content {
    margin-top: 4rem;
   
}

.post-image-container-skeleton {
    width: 100%;
    border-radius: var(--radius-2);
  }

#error-posts {
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: var(--spacing-3);
    color: var(--color-branding);
}