body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  color: var(--color-text-link);
}


@media only screen and (max-width: 600px) {
  .App {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1500px 64px;
    grid-column-gap: var(--spacing-2);
    grid-template-areas: "header"
                            "main"
                            "main2"
                            "footer"
  }
  
  .subreddits-sidebar {
    grid-area: main2;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
  }
}

@media only screen and (max-width: 540px) {
  .post-container {
    width: 90%;
  }
  
}

@media only screen and (max-width: 490px) {
  .post-container {
    width: 80%;
  }
  
}

@media only screen and (max-width: 450px) {
  .post-container {
    width: 70%;
  } 
}

@media only screen and (max-width: 410px) {
  .post-container {
    width: 60%;
  }
}

@media only screen and (max-width: 370px) {
  .post-container {
    width: 50%;
  } 
}

@media only screen and (max-width: 330px) {
  .post-container {
    width: 40%;
  } 
}

@media only screen and (max-width: 290px) {
  .post-container {
    width: 30%;
  } 
}


